.NavigationPoke {
  display: flex;
  align-items: center;
  justify-content: center;

  .selectPoke {
    border: 1px black solid;
    border-radius: 5px;
  }

  .custom-select__placeholder {
    font-style: italic;
  }
  button {
    display: flex;
    padding: 5px 10px;
    margin: 0px 25px;
    img {
      width: 15px;
      height: 25px;
    }
  }
}
